
#footer{
  background-color: black;
  color: white;
  text-align: center;
}

#headshot{
  border: 25px;
  border-color: white;
  margin-top: 43px;
  border-radius: 360px;
}

#links{
  margin-left:24px;
  margin-right:24px;
}

#boxL{
  background-color: #B5D5C8;
  width: 395px;
  height: 360px;
  margin-top: 10px;
  margin-right:1250px;
}

#listL{
  margin-left: 100px;
}

#boxR {
  background-color: #B5D5C8;
  width: 395px;
  height: 360px;
  margin-left: 1250px;
  margin-top: 10px;
  align: right;
}

#listR{
  margin-right: 1000px;
  align-items: auto;
}

#boxC {
  background-color: #B5D5C8;
  width: 1920px;
  height: 200px;
}

#name {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
  font-size: 60px;
}

#titletop{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#imgtop{
  height: 200px;
  align:right;
}

#headlinec {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #B5D5C8;
  text-decoration: underline;
  font-size: 50px;
  margin-top: 100px;
  text-transform: uppercase;
}
#headlineL{
  font-family: 'Raleway', sans-serif;
  margin-top: 25px;
  color: #B5D5C8;
  text-decoration: underline;
  font-size: 50px;
  margin-left: 55px;
  text-transform: uppercase;
}

#headlineR {
  font-family: 'Raleway', sans-serif;
  margin-top: 25px;
  color: #B5D5C8;
  text-decoration: underline;
  font-size: 50px;
  margin-left: 1375px;
  text-transform: uppercase;
}


#title{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 35px;
}
#location{
  text-align:center;
  font-family: 'Raleway', sans-serif;
  color:white;
  font-size: 18px;
}
#time{
  text-align:center;
  font-family: 'Raleway', sans-serif;
  color:white;
  font-size: 15px;
  font-style: italic;
}
#description{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color:white;
  font-size: 15px;
  margin-top: 25px;
}
#footer{
  background-color: black;
  color: white;
  text-align: center;
  width: auto;
  width: 1920px;
}
