#headline {
  font-size: 3em;
  font-weight:700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
}

#chapter {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
#chaptertext {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  }

.caption {
font-family: 'Montserrat', sans-serif;
color:grey;
text-align: center;
}

#footer{
  background-color: black;
  color: white;
  text-align: center;
  width:100%;

}

.nav-top{
  color:#fff;
  margin:auto;
  text-transform:uppercase;
  font-weight:700;
}
.red{
  color: red;
}

.gray{
  color: gray;
}
.yellow{
  color: yellow;
}


.hero-container{
  position:relative;
  text-align:center;
  color:white;
}

.hero-image{
  width: 100%;
}

.overlay{
  position: absolute;
  top: 20%;
  width: 100%;
  background-color:black;
  opacity:.7;
}
.hero-head{
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  color: #fff;
  margin: 0 auto;
}
.hero-sub{
  font-family:'Monsteratt' ,sans-serif;
  font-size: .75em;
  color: grey;
  text-align: center;
  text-transform: lowercase;
}

/* Pull Quote */
.quote{
  font-family: 'Monsteratt', sans-serif;
  color: red;
  font-size:3em;
  font-weight: 700;
  text-align: left;
  padding: 15px 0 15px 0;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  margin-top: 20px;
  margin-bottom: 20px;
}
.quote-attribution{
  font-size: .5em;
  font-family: 'Monsteratt', sans-serif;
  font-weight: 100;
  text-align: left;
  color: #000;
}



/* Media Queries */
@media (max-width:650px) {
 .hero-head{
  font-size:1.5em;
  }
}
