#headline {
  font-size: 3em;
  font-weight:700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
}

#chapter {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-decoration: underline;
}
#chaptertext {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-style: italic;
}
#image {
width: 80%;
margin-left: auto;
margin-right: auto;
}

#caption{
font-family: 'Montserrat', sans-serif;
font-weight: lighter;
text-transform: lowercase;
}
